<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示</title>
    <link rel="stylesheet" href="../static/CSS/01.css">
    <link rel="stylesheet" href="../static/CSS/navbar.css">
{#    <link rel="stylesheet" href="../static/CSS/bootstrap2.3.1.min.css">#}
    <script src="../static/JavaScript/jquery-3.6.0.js" async defer></script>
    <style>
        html, body {
            background-image: url("../static/picture/backdrop.jpg");
        }
    </style>
</head>
<body>
  {# 模板继承 #}
  {% include "basic/navbar.html" %}
{#  {% include "basic/message.html" %}#}
  <table border="1">
      <tr>
          <td>账户</td>
          <td>密码</td>
      </tr>
      {% for i in result123 %}
          <tr>
              <td>{{ i[0] }}</td>
              <td>{{ i[1] }}</td>
          </tr>
      {% endfor %}
  </table>
  {% include "basic/foot.html" %}

</body>
</html>