<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
            <div class="logo">
        <!-- 图片示例 -->
        <img src="../../static/picture/图片1.png" alt="logo">
            </div>
		</div>
		<div class="span4">
{#			<form class="form-search form-inline">#}
{#				<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>#}
{#			</form>#}
		</div>
		<div class="span4">
{#			 <button class="btn" type="button">设置</button> <button>退出</button>#}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h1 class="text-center">
				欢迎使用武汉警官藏书阁系统
			</h1>
		</div>
	</div>
</div>